body       { font-family: 'Source Sans Pro', 'Helvetica', sans-serif; background: #fff; }
a, h1, h2  { font-weight: bold; color: #05f; }
h1, h2     { font-weight: bold; margin: 0; }
h1         { border-bottom: 2px solid #eee; }
h1 a       { text-decoration: none }
h2         { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: #fafafa; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cef; padding: 0.5em; border: 1px solid #ace; }
.error          { background: #fc0; padding: 0.5em; }
